.wrapper {
  width: 100%;

  .root {
    width: 100%;
  }

  :global(.MuiFilledInput-root) {
    background-color: transparent !important;

    &.MuiFocused {
      background-color: transparent !important;
    }
  }
}
